
body{
    font-family: arial;
}
.main{
    background-color: #d5dbdd;
    width: 400px;
    border: 15px solid #d5dbdd;
    margin-bottom: 15px;
}
.head{
    background-color: #f1f3f4;
    color: #525760;
    margin-top: 0px;
    line-height: 60px;
    padding-left: 15px;
}
p, td{
    margin: 0;
    color: white;
    line-height: 30px;
    padding: 0;
}
table{
    border-spacing: 0;
}
.name{
margin: 5px;
}
.fourteen{
    background-color: #4747d1;
}
.thirteen{
    background-color: #5c5cd6;
}
.twelve{
    background-color: #7070db;
}
.eleven{
    background-color: #8585e0;
}
.ten{
    background-color: #9999e6;
}
.nine{
    background-color: #adadeb;
}
.eight{
    background-color: #c2c2f0;
}
.seven{
    background-color: #00e6ac;
}
.six{
    background-color: #ffe6ee;
}
.five{
  background-color: #ffccdd;
}
.four{
    background-color: #ffb3cc;
}
.three{
    background-color: #ff99bb;
}
.two{
    background-color: #ff80aa;
}
.one{
    background-color: #ff6699;
}
.zero{
    background-color: #ff4d88;
}
