#square{
    width: 178px;
    border: 1px solid black;
    background-image: linear-gradient(90deg, #747475, #b2b2b2);
}

#result {
    width: 168px;
}

[type^="button"]{
    width: 40px;
    border-radius: 5px;
    background-color: lightblue;
}
